<div class="container">
  <% unless @current_command.nil? %>
<table class="table">
  <tr>
    <th><%=t('name') %></th>
    <th><%=t('quantity_cart') %></th>
    <th><%=t('price') %></th>
    <th></th>
  </tr>
    <tbody>
    <%@current_command.line_commands.each do |line| %>
    <tr>
      <td><p><%=line.product.name %></p></td>
      <td><p><%= line.quantity %></p></td>
      <td><p><%= line.price %></p></td>
      <td><i class="fa fa-close" style="color: red"></i></td>
    </tr>
    <% end %>
  </tbody>
</table>
  <p>Total: <%= @current_command.price %></p>
    <div id="paypal-button-container"></div>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        paypal.Button.render({
            env: 'sandbox', // sandbox | production
            // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,
            // payment() is called when the button is clicked
            payment: function() {
                // Set up a url on your server to create the payment
                var CREATE_URL = '/createpayment';
                // Make a call to your server to set up the payment
                return paypal.request.post(CREATE_URL)
                  .then(function(res) {
                    console.log("Result: "+res.paymentID);
                    return res.paymentID;
                  });
            },
            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function(data, actions) {
                // Set up a url on your server to execute the payment
                var EXECUTE_URL = '/executepayment';
                // Set up the data you need to pass to your server
                var data = {
                    paymentID: data.paymentID,
                    payerID: data.payerID
                };
                // Make a call to your server to execute the payment
                return paypal.request.post(EXECUTE_URL, data)
                    .then(function (res) {
                        window.alert('Payment Complete!');
                    });
            }
        }, '#paypal-button-container');
    </script>

    <%else %>
    <div class="container" style="margin: 0 auto; text-align:center; margin-top: 5%; margin-bottom: 55%"><h2><%=t('empty_cart') %></h2></div>
    <% end %>

</div>
