<div class="container">
  <% unless @current_command.nil? %>
<table class="table">
  <tr>
    <th><%=t('name') %></th>
    <th><%=t('quantity_cart') %></th>
    <th><%=t('price') %></th>
    <th></th>
  </tr>
    <tbody>
    <%@current_command.line_commands.each do |line| %>
    <tr>
      <td><p><%=line.product.name %></p></td>
      <td><p><%= line.quantity %></p></td>
      <td><p><%= line.price %></p></td>
      <td><i class="fa fa-close" style="color: red"></i></td>
    </tr>
    <% end %>
  </tbody>
</table>
  <p>Total: <%= @current_command.price %></p>
  <%=link_to t('pay') , pay_cart_path%>

    <%else %>
    <div class="container" style="margin: 0 auto; text-align:center; margin-top: 5%; margin-bottom: 55%"><h2><%=t('empty_cart') %></h2></div>
    <% end %>

</div>
