<div style="margin-bottom: 10%" class="container register">
<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :price %><br>
    <%= form.text_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :image %><br>
    <%= form.text_field :image, id: :product_image %>
  </div>

  <div class="field">
    <%= form.label :producer %><br>
    <%= form.text_field :producer, id: :product_producer %>
  </div>

  <div class="field">
    <%= form.label :quantity %><br>
    <%= form.number_field :cathegories, id: :product_quantity %>
  </div>

  <div class="field">
    <%= form.label t('description')+' Español' %><br>
    <%= form.text_area 'description_es', id: :description_es ,:value => @description_es, cols: "50", rows: "5" %>
  </div>
  <div class="field">
    <%= form.label t('description')+' Catala' %><br>
    <%= form.text_area 'description_cat', id: :description_cat ,:value => @description_cat,cols: "50", rows: "5"  %>
  </div>
  <div class="field">
    <%= form.label t('description')+' English' %><br>
    <%= form.text_area 'description_en', id: :description_en ,:value => @description_en,cols: "50", rows: "5"  %>
  </div>
  <div class="field">
    <%=form.label t('category') %> <br>
   <%= form.collection_select :cathegory_id, Cathegory.all, :id, :name %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>