<div id="product" class="row">
  <div class="col-lg-6">
    <img src="<%=@product.image %>" alt="Could not load the image">
  </div>
<div class="col-lg-6">
<p id="notice"><%= notice %></p>

<p>
  <strong><%=t('name')%>:</strong>
  <%= @product.name %>
</p>

<p>
  <strong><%=t('price')%>:</strong>
  <%= @product.price %> €
</p>

<p>
  <strong><%=t('producer')%>:</strong>
  <%= @product.producer %>
</p>

<p>
  <strong><%=t('description')%>:</strong>
  <%= @description %>
</p>
<p>
  <strong>Cathegory:</strong>
  <%= @cathegory %>
</p>
  <% if user_signed_in? %>
    <%= link_to t('addcart'), addcart_path(@product.id) %>
  <% end %>
<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
<% end %>
</div>
</div>
